server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/patients/**
        - id: appointment-service
          uri: lb://appointment-service
          predicates:
            - Path=/appointments/**
        - id: medical-record-service
          uri: lb://medical-record-service
          predicates:
            - Path=/records/**

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
