server:
  port: 8083

spring:
  application:
    name: medical-record-service
  datasource:
    url: jdbc:mysql://localhost:3306/medical_record_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

resilience4j:
  circuitbreaker:
    instances:
      patientService:
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
  retry:
    instances:
      patientService:
        maxAttempts: 3
        waitDuration: 500ms
  timelimiter:
    instances:
      patientService:
        timeoutDuration: 2s
